
@{
    ViewData["Title"] = "AllDetailsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AllDetailsView</h1>

<div>
    @{
        if (ViewBag.AllDetails != null)
        {
            <h2>"All Details for: " + @ViewBag.AllDetails.FirstName + " " + @ViewBag.AllDetails.LastName</h2>
            <div>
                <h3>Here is the detail of his children:</h3>
                <table>
                    @if (ViewBag.AllDetails.Children != null && ViewBag.AllDetails.Children.Count > 0)
                    {
                        foreach (People.Models.Children c in ViewBag.AllDetails.Children)
                        {
                            <tr>
                                <td>@c.FirstName</td>
                                <td>@c.LastName</td>
                                <td>@c.Gender</td>
                            </tr>
                        }
                    }
                </table>
            </div>

            <div>
                <h3>Here is the detail of his Siblings:</h3>
                <table>
                    @if (ViewBag.AllDetails.Siblings != null && ViewBag.AllDetails.Siblings.Count > 0)
                    {
                        @foreach (People.Models.Sibling s in ViewBag.AllDetails.Siblings)
                        {
                            <tr>
                                <td>@s.FirstName</td>
                                <td>@s.LastName</td>
                                <td>@s.Gender</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        }
    }

</div>

